@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">I go get am se!!!</h1>
    <p>Learn about <a href="https://vividioz.onrender.com">check out this page<a>.</p>
</div>
